.highlighted-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.headline {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    color: black;
}


@media (max-width: 1300px) {
    .headline {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media (max-width: 767px) {
    .headline {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }
}