.rooms-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.rooms-content h2 {
    margin-bottom: 2rem;
}

.rooms {
    display: flex;
    gap: 2rem;
}